<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>24378079525-6vtuo5vr9qn4bnfpdk9b34j8nq8s3b54.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.24378079525-6vtuo5vr9qn4bnfpdk9b34j8nq8s3b54</string>
	<key>API_KEY</key>
	<string>AIzaSyDpMmgIpy66PMKzrfa1-Vi8QvXjG5saVpg</string>
	<key>GCM_SENDER_ID</key>
	<string>24378079525</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.diabex</string>
	<key>PROJECT_ID</key>
	<string>diabex-4e49f</string>
	<key>STORAGE_BUCKET</key>
	<string>diabex-4e49f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:24378079525:ios:72f35751bcd2f943b9c2cc</string>
</dict>
</plist>